* {
    color: cadetblue;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 10%;
}

section {
    width: 100%;
    height: 85%;
}

.sequencer {
    padding:0 auto;
    width: 100%;
    height: 100%;
    display: inline-block;
}

#playDrums {
    float: left;
    width: 5%;
    height: 100%;
}

#playBox {
    width: 4vw;
    height: 4vw;
    position: relative;
    text-align: center;
}

#playBtn {
    display: inline-block;
    width: 4vw;
    height: 4vw;
    position: relative;
    text-align: center;
}

#playBtn:hover {
    background-color: pink;
}

button.play {
    width: 4vw;
    height: 4vw;
    border-style: solid;
    border-width: 50px 0px 50px 100px;
    border-color: transparent transparent transparent green;
}

button.pause {
    width: 4vw;
    height: 4vw;
    border-style: double;
    border-width: 0px 0px 0px 100px;
    border-color: transparent transparent transparent red;
}

.drums {
    text-align: left;
    list-style: none;
}

.drums li {
    width: 100px;
    height: 50px;
}

.timeline {
    float: left;
    width: 95%;
    height: 100%;
}

footer {
    width: 100%;
    height: 5%;
}

footer ul {
    text-align: center;
    padding: 0 auto;
}

footer li {
    display: inline-block;
    padding-top: .5em;
    padding-left: 5em;
    padding-right: 5em;
}